
body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
  


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button{
  display: inline-block;
  background-color: #7b38d8;
  /* padding: 20px; */
  width: 400px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-size: 28px;
  cursor: pointer;
  margin: 5px;
  -webkit-transition: all 0.5s; /* add this line, chrome, safari, etc */
}

button:hover{
    background-color: green;
  /* color: white; */
}
